html
    head
        title=title
    body
        h1 I consulted the bits about

        h2 The Past:
        h3 #{pastName}
        p #{pastDescription}
        p #{pastMeaning}

        h2 The Present:
        h3 #{presentName}
        p #{presentDescription}
        p #{presentMeaning}

        h2 The Future:
        h3 #{futureName}
        p #{futureDescription}
        p #{futureMeaning}
